<div class = "index-content">
 <div class = "contents">
     <% @tweets.each do |tweet| %>
      <div class = "content">
       <%= render partial: "tweets/tweet", locals: {tweet: tweet} %>
      </div>
     <% end %>
 </div>
</div>