/* Common part */
body{
    height:auto;
    width:100%;
}

header{
    display:flex;
    justify-content:space-between;
}

.movieblog{
    margin:auto 40px auto 10px;
    text-decoration:none;
}

.search-form{
    width:600px;
    margin:auto 10px auto auto;
}

.menubar{
    margin-right:30px;
    width:30vw;
}

.menu{
    display:flex;
    justify-content:space-around;
    list-style:none;
    font-size:20px;
}

.signout, .new-button, .my-page, .signin, .signup{
    text-decoration:none;
}

/* content */

.content-content{
    height:auto;
    width:100%;
}

.content{
    height:auto;
    width:700px;
    margin:15px auto;
    border:1px;
    box-shadow: 0px 4px 8px #575;
    transition: box-shadow .3s;
}

.upper-content{
    height:150px;
    display:flex;
    position:relative;
}

.content-image{
    margin:auto 5px auto 5px;
}

.title_rate{
    width:auto;
    margin:auto;
}

.content-title{
    font-size:30px;
    font-weight:800;
    margin:auto;
    text-align:center;
}

.star_rate{
    padding:5px;
    margin:auto;
    text-align:center;
}

.content-user{
    position:absolute;
    bottom:0;
    right:0;
    
}
.story-review{
    font-size:20px;
    font-weight:600;
    border-bottom:solid 3px lightgreen;
}

/* New, Edit */

h2{
    text-align:center;
}

.new-edit-content{
    width:800px;
    margin:auto;
}

.new-form{
    
}

.title-bar{
    height:30px;
    width:700px;
    display:block;
    margin:auto;
}

.story-bar{
    height:100px;
    width:700px;
    display:block;
    margin:auto;
}

.review-bar{
    height:70px;
    width:700px;
    display:block;
    margin:auto;
}

.bottom-buttons{
    width:700px;
    display:flex;
    margin:auto;
}

.post-button, .update-button{
    height:30px;
    width:100px;
    display:block;
    margin:auto;
}

.image{
    display:block;
    margin:auto;
    width:700px;
    font-size:15px;
    border:solid 1px black;
}

.rate-box{
    display:block;
    height:30px;
    width:100px;
    margin:auto 45px auto 45px;
}

/* Show */
.show-content{
    height:auto;
    width:700px;
    margin:15px auto;
    border:1px;
    box-shadow: 0px 4px 8px #575;
    transition: box-shadow .3s;
}

.show-small-content{
}

.buttons{
    display:flex;
    width:200px;
    
}

.edit-button, .delete-button, .back-button{
    margin:15px 10px;
    border:1px;
    box-shadow: 0px 4px 8px #575;
    text-decoration:none;
    background-color:lightgreen;
    color:black;
}

/* comment */
.comment-form{
    margin:50px auto;
}

.comment-bar{
    display:block;
    margin:auto;
    height:50px;
    width:500px;
}

.rate-box{
    margin:auto
}

.comment-post-button{
    display:block;
    margin:20px auto;
    height:30px;
    width:100px;
}

.comment-list{
    margin:auto;
}

.comments{
    margin:0 auto 10px;
    width:700px;
    height:auto;
    border:1px;
    box-shadow: 0px 4px 8px #575;
    
}

.comment-name-date{
    display:flex;
    justify-content:flex-start;
}

.comment-name{
    margin:auto 10px auto 5px;
    font-size:20px;
}

.comment-date{
    margin:auto 20px auto 10px;
    font-size:20px;
}

.comment-delete{
    text-decoration:none;
    margin:auto 0px auto 5px;
    font-size:20px;
}

.bottom-comment{
    display:flex;
}

.comment_star_rate{
    margin:auto 10px auto 5px;
}


.comment-comment{
    height:auto;
    width:500px;
    margin:0 0 auto 5px;
    font-size:20px;
    display:flex;
}

.comment-title{
    margin:20px auto 20px auto;
    vertical-align:top;
}

.comment-space{
    height:auto;
    margin-top:20px;
    width:400px;
    margin:20px auto 20px auto;
}

/* mypage */



/* footer */
footer{
    font-size:15px;
    text-align:center;
    margin:20px auto 5px;
}

/* Search */
.search-bar{
    height:30px;
    width:400px;
    margin-left:10px;
}

.search-button{
    height:30px;
    width:100px;
    margin-left:20px;
}